body[data-darkmode=true] a {
    text-decoration: none;
    color: #ddd
}

body[data-darkmode=true] #irgl-section.is-blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

body[data-darkmode=true] .dimmer {
    background-color: rgba(4, 4, 4, 0.7);
}

body[data-darkmode=true] .title-description {
    color: #ddd;
    text-shadow: none;
}

body[data-darkmode=true] .menu-cont-wrapper {
    color: #ddd
}

body[data-darkmode=true] .menu-container a {
    text-shadow: none;
    color: #ddd
}

body[data-darkmode=true] .menu-container a:hover {
    background-color: #555;
}

body[data-darkmode=true] .footer {
    color: #dedede;
    text-shadow: none;
}

body[data-darkmode=true] .container-show {
    color: #ddd;
}

body[data-darkmode=true] .container-show .content-section input[type=text],
body[data-darkmode=true] .container-show .content-section input[type=password] {
    border: 1px solid #555;
    background-color: #232323;
    color: #dedede
}

body[data-darkmode=true] .container-show .content-section button,
body[data-darkmode=true] .modal .box-right .save-section button {
    color: #dedede;
    border: 2px solid #555;
    background: #444;
}

body[data-darkmode=true] .modal {
    background-color: rgba(37, 37, 37, .8);
}

body[data-darkmode=true] .modal .box-right .box-layout .select-custom {
    background-color: #222;
}