@font-face {
    font-family: CinzelBlack;
    src: url('../fonts/cinzel-black.ttf');
}

@font-face {
    font-family: BlackChancery;
    src: url('../fonts/blackchancery.ttf');
}

body {
    background: #D0D7DD;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #555
}

a {
    color: #92A494;
    text-decoration: none!important;
}

a:hover {
    color: #7f92a0
}

.btn-primary {
    background: #44664d;
    border-color: #4b6366;
}

.btn-primary:hover, .btn-primary:focus {
    background: #324d38!important;
    border-color: #324d38!important;
}

.btn-primary:focus {
    box-shadow: none!important;
}

.alert-danger {
    background-color: #f44336;
    color: #fff
}

.alert-success {
    background-color: #4CAF50;
    color: #fff
}

.alert-info {
    background-color: #2196F3;
    color: #fff
}

.alert-warning {
    background-color: #ff9800;
    color: #fff
}



.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:#435441;
    box-shadow: none;
    border-color: none;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #92a494; 
}

.navbar.navbar-custom {
    background-color: #435441;
    border-color: #ffffff;
    padding: 5px 40px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 40%);
}

.navbar.navbar-custom img {
    width: 50px;
    height: 50px;
}

.navbar.navbar-custom .title {
    vertical-align: middle;
    font-size: 22px;
    margin-left: 8px;
    color: #ede7c5;
    font-weight: bold;
    font-family: CinzelBlack;
}

.navbar.navbar-custom .navbar-nav > li {
    margin-left: 30px;
}

.navbar.navbar-custom .navbar-nav > li > a {
    color: #ede7c5;
    font-weight: bold;
}

.navbar.navbar-custom .navbar-nav > li > a.nav-link {
    font-family: CinzelBlack;
}

.navbar.navbar-custom .navbar-nav > li > a.nav-link .fa {
    margin-right: 10px;
}

.navbar.navbar-custom .navbar-nav > li > a:hover,
.navbar.navbar-custom .navbar-nav > li > a:focus {
    color: #d1cbab;
}

.navbar.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 222, 188, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.clear-header {
    clear: both;
    margin: 4.75em
}

.index-irgl {
    padding: 20px;
    margin: 3em auto;
    max-width: 600px;
}

.index-irgl .title, .box-content .title {
    background: #92A494;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.index-irgl .content, .box-content .content {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.box-content .content {
    text-align: left;
}

.index-irgl .content img {
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: auto;
}

.index-irgl h2 {
    font-family: CinzelBlack;
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: #4b6366
}

.index-irgl .sub {
    font-size: 20px;
    font-family: BlackChancery;
    color:#7f92a0
}

@media (max-width: 992px) {
    .navbar.navbar-custom {
        padding: 8px 15px;
    }
}

@media (max-width: 500px) {
    .index-irgl h2 {
        font-size: 25px;
    }
    .index-irgl .content, .box-content .content {
        padding: 18px
    }
}

.login-form {
    margin: 3em auto;
    max-width: 500px;
    padding: 20px;
}

.login-form .logo-irgl {
    text-align: center;
    margin-bottom: -75px;
}

.login-form .logo-irgl img {
    width: 160px;
    height: 160px;
}

@media (max-width: 450px) {
    .login-form .logo-irgl {
        margin-bottom: -55px;
    }
    .login-form .logo-irgl img {
        width: 120px;
        height: 120px;
    }
}

.login-form .box-login {
    background-color: #fff;
    padding: 20px;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #aaa;
}

.login-form .box-login .form-control {
    border-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
    border-radius: 0;
}

.login-form .box-login .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #92a494;
}

.login-form .box-login .title {
    font-family: BlackChancery;
    font-size: 35px;
    margin-top: 2.5em;
    margin-bottom: 25px;
    color: #92a494;
    text-align: center;
}


@media (max-width: 450px) {
    .login-form .logo-irgl {
        margin-bottom: -55px;
    }
    .login-form .logo-irgl img {
        width: 120px;
        height: 120px;
    }
    .login-form .box-login .title {
        margin-top: 1.5em;
    }
}

.login-form .box-login .btn-primary {
    box-shadow: 0 5px 3px -3px #aaa;
}

.login-form .box-login .footer-login {
    margin-top: 2em;
    border-top: 1px dashed #ddd;
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
}

.error-page {
    border-top:#435441 10px solid
}

.box-error-page {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    padding: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.box-error-page .title {
    font-size: 80px;
    font-family: BlackChancery;
    color: #435441
}

.box-error-page p {
    font-size: 18px;
    color:#7f92a0
}

@media(max-width: 540px) {
    .box-error-page .title {
        font-size: 50px;
    }

    .box-error-page p {
        font-size: 16px;
    }
}

.search-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #44664d
}

.info-login-header {
    background: #fffade;
    padding: 12px 0;
    margin-bottom: 3em;
}