@font-face {
    font-family: CinzelBlack;
    src: url(./cinzel-black.ttf);
}

@font-face {
    font-family: JosefinRegular;
    src: url(./JosefinSans-Regular.ttf);
}

body {
    position: relative;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: JosefinRegular;
}

a {
    text-decoration: none;
    color: #fff
}

.webgl {
    z-index: 0;
}

#irgl-section {
    display: block;
}

.dimmer {
    background-color: rgba(62, 82, 84, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.title-description {
    top: 7vh;
    left: 8vh;
    font-family: CinzelBlack;
    color: #adad79;
    position: absolute;
    font-weight: bold;
    font-size: 4em;
    max-width: 900px;
    text-shadow: 4px 4px 0px rgba(34, 46, 36);
}

.menu-cont-wrapper {
    position: absolute;
    bottom: 0;
    right: 4vh;
    color: #fff;
    font-weight: bold;
    height: 100vh;
    width: 100vh;;
    text-align: right;
    font-size: 6vh;
}

.menu-container {
    position: absolute;
    bottom: 6vh;
    right: 0;
    width: 100%;;
}

.menu-container a {
    cursor: pointer;
    padding: 8px 30px;
    display: inline-block;
    text-shadow: 3px 3px 0px rgba(34, 46, 36);
    color: #fff
}

.menu-container a:hover {
    background-color: #adad79;
    border-radius: 30px 0 30px 0;
    text-shadow: none;
}


.footer {
    position: absolute;
    left: 4vw;
    bottom: 6vh;
    font-size: 25px;
    font-weight: bold;
    color: #d0d7dd;
    text-shadow: 3px 3px 0px rgba(34, 46, 36);
}

.login-section {
    padding: 15px
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff
}

.login-form .back {
    margin-top: 1.6em;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.login-form .title {
    font-size: 5vh;
    font-family: Bebas;
    color: #fff;
    text-align: center;
}

.login-form .content-section {
    margin: 1.2em auto;
    max-width: 400px;
    padding: 20px;
}

.login-form .content-section label {
    display: block;
    margin-bottom: 8px;
}

.login-form .content-section input {
    width: 94%;
    padding: 12px;
    display: block;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: #fff;
}

.login-form .content-section button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    display: block;
    border: 2px solid #9e9e70;
    background: #9e9e70;
    color: #fff;
    cursor: pointer;
}

.login-form input:disabled, .register-form input:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.login-form .content-section button:disabled {
    cursor: not-allowed;
    background: #878760;
    border-color: #878760;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, .7);
    display: none;
}

.modal[data-display=loader] {
    display: block;
    background-color: rgb(62, 82, 84);;
}

.modal[data-display=loader] .content {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}


.modal .box-center {
    position: relative;
    padding: 10px;
    padding: 10px;
}

.modal .box-center .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1120px;
}
.modal .box-left {
    position: relative;
    float: left;
    text-align: center;
    width: 28%;
    margin: 1.5em 0;
}

.modal .box-left .object1 {
    position: absolute;
    top: 22px;
    right: 70px;
    width: 120px;   
    transform: rotate(131deg);
    animation: animateObject1 2s;
}

.modal .box-left .object2 {
    transform: rotate(-150deg);
    position: absolute;
    top: 0;
    left: 70px;
    width: 120px;
    animation: animateObject2 2s;
}

@keyframes animateObject2 {
    0% {transform: rotate(-192deg);top: 22px;}
    100% {transform: rotate(-150deg);top: 0;}
}

@keyframes animateObject1 {
    0% {transform: rotate(170deg)}
    100% {transform: rotate(131deg)}
}

.modal .box-right {
    float: right;
    width: 60%;
    color: #fff;
    background: rgba(2, 2, 2, .5);
    padding: 15px;
    border: 1px solid #222;
    font-size: 18px;
    margin: 10px;
}

@media (max-width: 1200px) {
    .modal .box-left {
        display: none;
    }

    .modal .box-right {
        width: 100%;
        float: none;
    }

    .modal .box-center .centered {
        width: 800px;
        left: 48%
    }
}

@media (max-width: 920px) {
    .modal .box-center .centered {
        left: 47%
    }
}

@media (max-width: 850px) {
    .modal .box-center .centered {
        left: 0;
        right: 0;
        width: 100%;
        transform: translate(0, -50%);
    }
    .modal .box-right {
        margin: 0;
    }
}

.modal .box-right.settings .content::-webkit-scrollbar {
    width: 8px;
}

.modal .box-right.settings .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.modal .box-right.settings .content::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid #999
}            

.modal .box-right.settings {
    height: 450px;
}

.modal .box-right.settings .content {
    height: 300px;
    overflow: auto;
    padding: 20px 0;
    word-break: break-all;
}

.modal .box-right .title {
    text-align: left;
    padding: 5px 0;
    margin: 0 -15px;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    
}
.modal .box-right .title h2 {
    padding: 0 20px;
    margin: 0;
    padding-bottom: 10px;
}

.modal .box-right .box-layout {
    padding: 12px;
    padding-top: -10px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #444
}

.modal .box-right .box-layout:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.modal .box-right .box-layout .icon {
    position: absolute;
    top: 20px;
    left: 15px;
}

.modal .box-right .box-layout .icon .faicon {
    font-size: 40px;
    color: #fff
}

.modal .box-right .box-layout .select-custom {
    cursor: pointer;
    border-radius: 1px;
    background-color: #181818;
    border: none;
    color: #999;
    width: 150px;
    font-size: 14px;
    padding: 1.09vh;
    text-transform: uppercase;
}

.modal .box-right .box-layout .icon .faicon.margin-left {
    margin-left: -10px;
}

.modal .box-right .box-layout .icon.rotate:hover {
    transition: 0.9s;
    transform: rotateY(180deg);
}

.modal .box-right .box-layout .icon.rotateC:hover {
    transition: 0.9s;
    transform: rotate(20deg);
}

.modal .box-right .box-layout .icon.rotateV:hover {
    transition: 0.9s;
    transform: rotate(-20deg);
}

.modal .box-right .box-layout .icon.rotateFull:hover {
    transition: 0.9s;
    transform: rotate(360deg);
}

.modal .box-right .box-layout .set {
    margin-left: 4em;
}

.modal .box-right .box-layout .set .status {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #fff
}

.modal .box-right .save-section {
    padding: 15px 22px;
    border-top: 1px solid #888;
    margin: 0 -15px;
}

.modal .box-right .save-section button {
    background-color: #adad79;
    color: #333;
    padding: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
}

.modal .box-left .contact_us img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 350px;
    animation: animateCastle 2s;
}

.webgl2 {
    position: absolute;
    height: 100vh !important;
    width: 50vw !important;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.registration-page {
    /* jok lupa ganti */
    transition: 300ms;
}

.registration-page .back-button {
    position: absolute;
    top: 0;
    left: 3.5vh;
    width: 25vw;
    height: 100px;
    float: left;
    display: flex;
    place-items: center;
    font-size: 3vh;
    color: white;
    transition: transform 200ms;
    cursor: pointer;
    text-shadow: 4px 4px 0px rgba(34, 46, 36);
}

.registration-page .back-button:hover {
    transform: translateX(2vh);
}

.registration-page .form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    padding: 3vh;
}

.register-form {
    display: grid;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.rows {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.register-form>* {
    margin-bottom: 20px;
}

.register-form label {
    font-family: JosefinRegular;
    font-size: 3vh;
    color: white;
    text-shadow: 4px 4px 0px rgba(34, 46, 36);
}

.register-form input, .register-form select {
    height: fit-content;
    border-radius: 10px;
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vh;
    background-color: #fff;
}

.register-form button:disabled 
{
    background-color: #aaa;
    cursor: not-allowed;
}

.top-form .curr-form-info {
    font-size: 5vh;
    font-family: Bebas;
    color: #adad79;
    display: flex;
    align-items: center;
}

.top-form .next-button, .top-form .back-button-mem {
    cursor: pointer;
    font-size: 4vh;
    font-family: JosefinRegular;
    color: #bbd1d3;
    display: flex;
    align-items: center;
    transition: transform 200ms;
}

.top-form .next-button:hover {
    transform: translateX(2vh);
}

.top-form .back-button-mem:hover {
    transform: translateX(-2vh);
}

.register-form .top-form {
    display: grid;
    grid-template-columns: 70% 30%;
}

#member-1 .top-form, #member-2 .top-form, #leader .top-form, #verifCaptcha .top-form {
    display: grid;
    grid-template-columns: 50% 25% 25% !important;
}

.submit-button-container {
    display: flex;
    align-self: center;
    height: 50%
}

.submit-form {
    border-radius: 1vh;
    width: 80%;
    font-family: JosefinRegular;
    font-size: 3vh;
    cursor: pointer;
    transition: 300ms;
}

.submit-form:hover {
    transform: scale(1.10);
}

@keyframes animateCastle {
    50% {
        width: 380px;
        top: 10px;
        left: -20px;
    }
    100% {
        top: 25px;
        width: 350px;
    }
}
